.list-header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
}

.create-button {
	border: 1.5px solid rgb(108, 115, 148);
	color: rgb(108, 115, 148);
	text-transform: uppercase;
}

.create-button:hover {
	background-color: rgb(131, 138, 172);
}

.create-button:active {
	background-color: rgb(108, 115, 148);
	color: rgb(255, 255, 255);
}

.signout-button {
	border: 1.5px solid rgb(255, 175, 163);
	background-color: rgb(255, 175, 163) !important;
	color: rgb(234, 234, 234);
}

.signout-button:hover {
	background-color: rgb(175, 94, 94) !important;
	border: 1.5px solid rgb(175, 94, 94);
}

.signout-button:active {
	border: 1.5px solid rgb(175, 81, 81) !important;
	background-color: rgb(175, 81, 81) !important;
	color: rgb(255, 255, 255);
}
